<fieldset>
    <div class="form-group">
        <label for="SubscribeForm_Email_Value">Email</label>
        <input type="email" id="SubscribeForm_Email_Value" name="SubscribeForm.Email.Value" value="@Model.ContentField.Value" class="form-control mygroup" />
    </div>
</fieldset>