<fieldset>
    <div class="form-group">
        <label for="SubscribeForm_Name_Value">Name</label>
        <input type="text" id="SubscribeForm_Name_Value" name="SubscribeForm.Name.Value" value="@Model.ContentField.Value" class="form-control mygroup tarea" required />
    </div>
</fieldset>