<fieldset>
    <div class="form-group">
        <label for="SubscribeForm_Phone_Value">Phone</label>
        <input type="tel" id="SubscribeForm_Phone_Value" name="SubscribeForm.Phone.Value" value="@Model.ContentField.Value" class="form-control mygroup phoneUK" />
    </div>
</fieldset>