<fieldset>
    <div class="form-group">
        <label for="ContactForm_Phone_Value">Phone</label>
        <input type="tel" id="ContactForm_Phone_Value" name="ContactForm.Phone.Value" value="@Model.ContentField.Value" class="form-control mygroup" />
    </div>
</fieldset>